.App {
  text-align: left;
  margin-top: 50px;
  margin:0px 60px;
  color: rgb(105, 105, 105);
  font-family: 'Roboto', sans-serif;
}


.header {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-flex;
  align-items:center;
}
.d-none{
  display: none !important;
}
